<html>
  <head>
    <title>SMS Blast</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <style>
        body {{ margin-top: 2em; }}
        code {{ color: #888; }}
        .emojimage {{ height: 240px; width: 240px; font-size: 240px; line-height: 240px; margin-right: 40px; margin-bottom: 80px; float: left; }}
    </style>
    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
  </head>
  <body>
    <div class="ui container">
      <div class="emojimage">&#x{emoji};</div>
      <h1>{title}</h1>
      {body}
    </div>
  </body>
</html>
